.img-width{
  width: 250px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-width{
  width: 250px;
  height: 300px;
}

.grid-default{
  display: grid;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.bag-width{
  width: 20px;
}